%h2 Download App

%h3 Chat Client coming soon

%div 
	%a#connect{:href => "#"}  test socket server
.status{:style => "margin-top: 20px;"} 
	%p 

.msg{:style => "margin-top: 20px;"} 
	%p 

%textarea.content
%br
%a.send_msg{:href => "#"}  Send
%a.send_media{:href => "#", :style => "margin-left: 35px;"}  Send Media